body {
    background: #5B5BC5;
    
}


.content {
    margin: auto;
    text-align: center;
}

.abstract {
    text-align: center;
    font-size: 25px;
    color: green;
}

.modal_success {
  text-align: center; 
  font-size:35px; 
  background-color: lightgreen;
}

.modal_symbols_hardening {
  text-align: center; 
  font-size:35px; 
}

.modal_fail {
  text-align: center; 
  font-size:35px; 
  background-color: red;
}


.btn.btn-primary {
    vertical-align: middle;
    height: 80px;
    width: 220px;
    margin-left: 5px;
    margin-right: 5px;
	font-size: 25px;
}

.btn.btn-demo {
    vertical-align: middle;
    height: 100px;
    width: 300px;
    margin-left: 5px;
    margin-right: 5px;
	font-size: 50px;
	background-color: red;
}

.btn.btn-dispatch {
    vertical-align: middle;
    height: 80px;
    width: 300px;
    margin-left: 5px;
    margin-right: 5px;
	font-size: 25px;
}


#btn {
  background: #222;
  height: 110px;
  width: 150px;
  min-width: 150px;
  margin-right: 45.5%;
  border: none;
  border-radius: 10px;
  color: #eee;
  font-size: 40px;
  font-family: 'Rubik', sans-serif;;
  position: relative;
  transition: 1s;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-top: 5px;
}

#btn #circle {
  width: 5px;
  height: 5px;
  background: transparent;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  overflow: hidden;
  transition: 500ms;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

#btn:hover {
  background: transparent;
}

#btn:hover #circle {
  height: 50px;
  width: 150px;
  left: 0;
  border-radius: 0;
  border-bottom: 2px solid #eee;
}

.oc_logo {
    display: block;
    margin: auto;
    bottom: 50px;
    position: fixed;
    left:20px;
}

.game_panel {
    display: block;
    margin: auto;
}

/* Container needed to position the button. Adjust the width as needed */
.container {
  position: relative;
  width: 50%;
}

/* Make the image responsive */
.container img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.container .btn_amud_a, .btn_amud_b, .btn_amud_a_completed, .btn_amud_b_completed {
  position: absolute;
  transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
  font-size: 0px;
  padding: 12px 24px;
  border:  2px dashed brown;
  cursor: pointer;
  background-color: rgba(157, 75, 0, 0.2);
  left: 1.9%;
  width: 47.6%;
  background-repeat: no-repeat;
  background-size: 45px 25px;
}

.container .btn_amud_b, .btn_amud_b_completed {
  left: 50.4%;
  width: 47.8%;
}

.container .btn_amud_a_completed, .btn_amud_b_completed{
  background-color: rgba(76, 175, 80, 0.2);
}

.container .btn_amud_a:hover, .btn_amud_a_completed:hover, .btn_amud_b:hover, .btn_amud_b_completed:hover{
  color: white;
  font-size: 25px;
  background-color: brown;
}

.container .btn_amud_a_completed:hover, .btn_amud_b_completed:hover {
  background-color: green;
}

.hints_qushia {
	width: 1.8%;
}

.hints_resolution {
	width: 2%;
}

.hints_wrongly {
	width: 1.2%;
}

.hints_question {
	width: 2.2%;
}

.hints_hyphen {
	width: 0.9%;	
}

.hints_quotebegin {
	width: 1.2%;
}

.hints_speakbegin {
	width: 2%;
}

.hints_speakend {
	width: 2%;
}

.hints_biblequote {
	width: 1.2%;
}

.hints_interrobang {
	width: 0.9%;
}

.hints_assist {
	width: 2.2%;
}

.hints_nonassist {
	width: 2.2%;
}

.hints_period {
	width: 1.5%;
}

.hints_colon{
	width: 2.5%;
}

.hints_text {
	font-size: 18px;
}

.hints2_text {
	font-size: 20px;
    color: black;
}

.hints_hevruta_reference {
	font-size: 30px;
    color: red;
}





.progress_advice {
	font-size: 18px;
    color: red;
}

.sugiya_title_text {
  vertical-align: middle;
	font-size: 40px;
	text-align: center;
}


.completers_table {
  /*position:absolute;*/
  margin-left: auto;
  margin-right: auto;
	top: 35%;
	border: 3px solid black;
	width: 340px;
}

.words_completions_table {
	position:absolute;
	top: 35%;
	right: 100px;
	border: 3px solid black;
	width: 200px;
}

.words_fastest_completions_table {
	position:absolute;
	bottom: 0%;
	right: 2%;
	border: 3px solid black;
	width: 20%;
}

.syntax_completions_table {
	position:absolute;
	top: 35%;
	left: 100px;
	border: 3px solid black;
	width: 200px;
}

.syntax_fastest_completions_table {
	position:absolute;
	bottom: 0%;
	left: 2%;
	border: 3px solid black;
	width: 20%;
}

.recent_usages_table {
	position:relative;
	right: 10px;
	border: 3px solid black;
	width: 600px;
	top: 240px;
}

.recent_entrances_table {
	position:relative;
	right: 10px;
	border: 3px solid black;
	width: 900px;
	top: 240px;
}

.scores_table {
  margin-left: auto;
  margin-right: auto;
	border: 7px solid black;
	width: 400px;
}

.mytd_scores {
	border: 4px solid black;
	text-align: center;
	font-size: 20px;
}

.myth_scores {
	border: 4px solid black;
	text-align: center;
	background-color: yellow;
	font-size: 40px;
}

.mycaption_scores {
  display: table-caption;
  text-align: center;
  color: brown;
  font-size: 30px;
}

.mytd {
	border: 2px solid black;
	text-align: right;
	font-size: 13px;
}

.myth {
	border: 2px solid black;
	text-align: center;
	background-color: yellow;
	font-size: 25px;
}

.mytr {
	border: 2px solid black;
	text-align: center;
}

.mycaption {
  display: table-caption;
  text-align: center;
  color: brown;
  font-size: 18px;
}

.select_student {
    position: fixed;
    right: 10px;
    text-align: center;
    height: 50px;
    width: 250px;
    border: 3px solid blue;
    box-shadow: 0 6px 0 1px black;
    border-radius: .5em;
    font-size: 22px;
    font-weight: 700;
}

.radio_student {
  position: fixed;
  right: 10px;
  top:20;
  text-align: right;
  height: 50px;
  width: 250px;
  font-size: 15px;
  font-weight: 700;
}


.btn.btn-navigation {
  vertical-align: middle;
  height: 75px;
  width: 75px;
  bottom:0;
  right:0;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 20px;
  position: fixed;
  z-index: 1;
  background-color: #5a2890d4;
  color: white;
  white-space: normal;
}


.btn.btn-navigation-middle {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 0%;
  font-size: 26px;
  background-color: #5a2890d4;
  color: white;
  white-space: normal;
}